@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Montserrat', sans-serif;
}

body{
    padding-top: 40px;
}

:root{
    --cor-primaria: #8398FF;
    --cor-secundaria: #191F3D;
    --cor-terciaria: #12162B;

    --radius-btn: 5px;
    --padding-btn: 8px;
    --transition-hover-btn: all 0.2s ease;
    --background-color-btn-hover: #6779cf;
    --padding-section: 50px;
}

.top-bar{
    background-color: #000;
    height: 40px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 2px solid var(--cor-primaria);
}

.main-content{
    display: flex;
    flex-direction: column;
}

.home{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--cor-secundaria);
    padding: var(--padding-section);
    align-items: center;
}

.title-home{
    color: #fff;
    font-size: 28px;
    width: 300px;
    text-align: center;
}

.home span{
    color: var(--cor-primaria);
}

/* Div botões home */
.home div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.btn-entrar-contato{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-align: center;
    background-color: var(--cor-primaria);
    border-radius: var(--radius-btn);
    padding: var(--padding-btn);
    transition: var(--transition-hover-btn);
    width: 100%;
}

.btn-entrar-contato:hover{
    background-color: var(--background-color-btn-hover);
}

.btn-download-curriculo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    text-decoration: none;
    color: var(--cor-primaria);
    font-weight: 600;
    text-align: center;
    background-color: transparent;
    border-radius: var(--radius-btn);
    border: 2px solid var(--cor-primaria);
    padding: var(--padding-btn);
    transition: var(--transition-hover-btn);
    width: 100%;
}

.btn-download-curriculo:hover{
    background-color: var(--background-color-btn-hover);
    color: #fff;
    border: 2px solid var(--background-color-btn-hover);
}

.btn-entrar-contato i,
.btn-download-curriculo i{
    font-size: 16px;
}

.subtitle-home{
    color: #fff;
    font-size: 16px;
    text-align: center;
}

/* Comum Seções */
.titulo-secao{
    font-size: 24px;
    font-weight: 600;
    border-bottom: 2px solid var(--cor-primaria);
    align-self: flex-start;
    padding-bottom: 8px;
}

/* Seção de Projetos */
.projetos{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--cor-terciaria);
    padding: var(--padding-section);
    align-items: center;  
    color: #fff; 
}

.card-projeto{
    position: relative;
    width: 100%;
    height: 240px;
    max-width: 450px;
    overflow: hidden;
    border-radius: 10px;
}

.card-projeto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all 0.3s ease;
}

.overlay-projeto{
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: rgba(0, 0, 0, 0.886);
    opacity: 0;
    transition: 0.3s ease;
    text-align: center;
    padding: 20px;
}

.overlay-projeto h3{
    font-size: 18px;
}

.overlay-projeto p{
    font-size: 14px;
    line-height: 1.5;
}

.card-projeto:hover img{
    transform: scale(1.05);
}

.card-projeto:hover{
    border: 1px solid #fff
}

.card-projeto:hover .overlay-projeto{
    opacity: 1;
}

.links-projeto{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.links-projeto a{
    text-decoration: none;
    background-color: var(--cor-primaria);
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
    color: var(--cor-terciaria);
    transition: all 0.2s ease;
    font-size: 12px;
}

.links-projeto a:hover{
    background-color: var(--background-color-btn-hover);
}

/* Sobre Mim */
.sobre{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--cor-terciaria);
    padding: var(--padding-section);
    align-items: center;  
    color: #fff;
}

.card-foto-minha{
    position: relative;
    width: 100%;
    height: 340px;
    max-width: 450px;
    overflow: hidden;
    border-radius: 10px;
}

.card-foto-minha img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.texto-cargo{
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}

.texto-cargo span{
    color: var(--cor-primaria);
}

.texto-sobre-mim{
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    max-width: 800px;
    text-align: center;
}

/* Tecnologias DENTRO do texto de "Sobre Mim" */
.texto-sobre-mim span{
    font-weight: 600px;
    color: var(--cor-primaria);
    font-weight: 600;
}

/* Seção de Tecnologias */
.tecnologias{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--cor-secundaria);
    padding: var(--padding-section);
    align-items: center;  
    color: #fff;
}

.card-tecnologias{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 50px;
    width: 100%;
    height: 100%;
    max-width: 450px;
    border-radius: 10px;
    background-color: var(--cor-terciaria);
    padding: 25px;
}

.titulo-card-tecnologias{
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}

.subtitulo-card-tecnologias{
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    max-width: 800px;
    text-align: left;
    margin-top: 10px;
}

.card-icones-tecnologia{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.icone-mais-nome{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    position: relative;
}

.icone-mais-nome img{
    height: 50px;
    width: 50px;
}

/* Barra vertical (pseudoelemento) entre os ícones de tecnologias */
/* .icone-mais-nome:not(:last-child)::after{
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 80px;
    background-color: #2d303f;
} */

.nome-tecnologia{
    font-size: 12px;
    color: #fff;
    font-weight: 600;
}